#left
{
position:fixed;
top:9px;
left:9px;
height:12px;
}

#left:hover
{
background-color:rgba(0,0,0,0.66);
}

.closed:hover
{
text-shadow:0px 0px 12px green;
transition:text-shadow 0.33s;
}

.hidden
{
display:none;
cursor:default;
}

.leftc
{
background-color:rgba(0,0,0,0.5);
border-radius:9px;
width:33px;
}

.leftc:hover
{
box-shadow:0px 0px 18px green;
transition:box-shadow 0.33s;
}

.lefto
{
background-color:rgba(0,0,0,0.1);
border-radius:9px;
width:150px;
}

.lefto:hover
{
box-shadow:0px 0px 18px red;
transition:box-shadow 0.33s;
}

.open:hover
{
text-shadow:0px 0px 12px red;
transition:text-shadow 0.33s;
}

a
{
font:small tahoma;
color:black;
opacity:0.75;
}

a[target="_blank"]::after
{
content:"'";
}

a:hover
{
opacity:1.0;
text-shadow:0px 0px 9px green;
}

a.col
{
font:bold small tahoma;
}

a.sm
{
font:x-small tahoma;
text-align:center;
}

div.cats
{
cursor:default;
float:left;
width:14%;
font-family:tahoma;
font-variant:small-caps;
font-weight:bold;
text-align:center;
}

div.chartMenu
{
cursor:default;
float:left;
font:bold large tahoma;
width:54px;
}

div.iwwc
{
cursor:default;
position:fixed;
bottom:0px;
width:100%;
text-align:center;
z-index:inherit;
}

div.leftc:hover
{
background-color:rgba(0,0,0,0.5);
}

div.menu
{
float:left;
cursor:default;
}

div.MetMenu
{
cursor:default;
float:left;
font:bold tahoma;
width:90px;
}

div.mtgrmMenu
{
cursor:default;
float:left;
font:bold tahoma;
width:90px;
}

div.otrqst
{
position:fixed;
top:0px;
left:0px;
width:100%;
height:10%;
cursor:default;
}

div.rwy
{
cursor:default;
width:33%;
float:left;
text-align:center;
}

div.rwys
{
position:absolute;
top:0px;
margin-left:25%;
cursor:default;
width:50%;
}

div.satMenu
{
cursor:default;
float:left;
font:bold xx-large tahoma;
width:90px;
}

div.st
{
cursor:default;
width:33%;
float:left;
text-align:center;
}

div.STs
{
position:absolute;
top:0px;
margin-left:33%;
cursor:default;
width:50%;
}

form.metars
{
cursor:default;
position:relative;
text-align:center;
}

h1, h2, h3, h4, h5, h6
{
cursor:default;
font-family:tahoma;
font-variant:small-caps;
}

h1
{
text-align:center;
}

hr
{
color:rgb(0,0,255);
}

iframe.asd
{
position:absolute;
left:0px;
top:23px;
cursor:default;
width:100%;
height:986px;
z-index:-1;
background-color:white;
seamless;
}

iframe.chart
{
cursor:default;
position:fixed;
left:60px;
top:0px;
float:right;
width:96%;
height:100%;
z-index:0;
background-color:white;
seamless;
}

iframe.links
{
position:fixed;
left:0px;
top:0px;
float:left;
width:180px;
height:100%;
z-index:-1;
seamless;
}

iframe.main
{
position:fixed;
left:180px;
top:0px;
float:right;
width:calc(100% - 180px);
height:100%;
z-index:-2;
seamless;
}

iframe.obs
{
cursor:default;
width:100%;
height:2100px;
seamless;
}

iframe.obstafs
{
cursor:default;
position:absolute;
left:0px;
top:10%;
width:100%;
height:90%;
seamless;
}

iframe.pep
{
position:absolute;
left:0px;
top:36px;
cursor:default;
width:100%;
height:540px;
z-index:-1;
background-color:white;
seamless;
}

iframe.sat
{
cursor:default;
position:fixed;
left:90px;
top:0px;
float:right;
width:95%;
height:100%;
z-index:0;
background-color:black;
seamless;
}

iframe.satr
{
position:fixed;
float:right;
z-index:0;
background-color:black;
overflow:hidden;
}

iframe.satv
{
position:fixed;
float:right;
z-index:0;
background-color:black;
overflow:hidden;
}

iframe.sati
{
position:fixed;
float:right;
z-index:0;
background-color:black;
overflow:hidden;
}

iframe.satwl
{
position:fixed;
float:right;
z-index:0;
background-color:black;
overflow:hidden;
}

iframe.satwm
{
position:fixed;
float:right;
z-index:0;
background-color:black;
overflow:hidden;
}

iframe.satwh
{
position:fixed;
float:right;
z-index:0;
background-color:black;
overflow:hidden;
}

iframe.st
{
position:absolute;
left:0px;
top:23px;
cursor:default;
width:100%;
height:792px;
z-index:-1;
seamless;
}

img.modcurve
{
left:0px;
width:100%;
z-index:0;
}

img.mtgrm
{
cursor:default;
position:absolute;
left:90px;
top:0px;
height:99%;
float:right;
z-index:0;
}

img.rdr
{
cursor:default;
position:absolute;
left:0px;
top:0px;
height:99%;
z-index:0;
}

img.space
{
cursor:default;
position:absolute;
left:90px;
top:0px;
width:95%;
max-height:100%;
z-index:0;
}

input:focus
{
background-color: rgba(255,255,128,0.50);
}

table
{
border:thin solid rgb(0,0,0);
border-radius:3px;
width:150px;
}

td, th
{
font:bold small tahoma;
text-align:center;
}

td.sm
{
font:bold x-small tahoma;
}

th
{
font:small-caps bold small tahoma;
}